# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
myview-frontend/node_modules
myview-frontend/.pnp
.pnp.js

# testing
myview-frontend/coverage

# production
myview-frontend/build

# backend
MyViewBackend/obj
MyViewBackend/bin

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
