version: '3.8'

services:
  backend:
    build:
      context: ./MyViewBackend
    ports:
      - "5000:80"
    depends_on:
      - mongodb
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - MONGO_CONNECTION_STRING=mongodb://yourUsername:yourPassword@mongodb:27017/myviewdb
    networks:
      - my_network

  frontend:
    build: ./myview-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - my_network

  mongodb:
    image: mongo:latest
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: yourUsername
      MONGO_INITDB_ROOT_PASSWORD: yourPassword
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - my_network

volumes:
  mongodb_data:

networks:
  my_network:
    driver: bridge
